
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    color: #003366;
  }

  .dice {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bb5; 
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #005f8f; 
  }
  
  .result {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #003366; 
  }
  
  .score {
    margin: 20px;
    font-size: 16px;
    color: #003366; 
  }
  .score p {
    margin: 5px 0;
  }
  
  .dado {
    display: inline-block;
    margin: 0 10px;
  }
  
  .dado-imagem {
    width: 100px;
    height: 100px;
    border: 1px solid #007bb5; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
  }
  
  button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
  }
  
  button:disabled:hover {
    background-color: #ccc;
  }